In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
imdb = pd.read_csv("./imdb_top_1000.csv") # imdb 평점 top 1000

# 1. 데이터 파악하기
 - 어떤 영화들이 top 1000에 올랐을까?

In [3]:
imdb.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
imdb.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

# 가설

 ## 1. imdb 평점(일반관객)이 높으면, Meta score(평론가)도 높지 않을까?
 ## 2. 투표한 사람이 많으면 많을 수록, imdb 평점은 낮아지지 않을까?

In [5]:
imdb.describe() # 요약 정보

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06

In [6]:
imdb.corr() # 상관계수 확인

             IMDB_Rating  Meta_score  No_of_Votes
IMDB_Rating     1.000000    0.268531     0.494979
Meta_score      0.268531    1.000000    -0.018507
No_of_Votes     0.494979   -0.018507     1.000000

In [7]:
imdb.isnull().sum() # 결측치 개수 확인

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [8]:
# Certificate, Meta_score, Gross 에서 결측치 발견

## 가설 1. imdb 평점(일반관객)이 높으면, Meta score(평론가)도 높지 않을까?

In [9]:
imdb[imdb["IMDB_Rating"] >= 8.0] # 관객 평점 8.0 이상

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458,https://m.media-amazon.com/images/M/MV5BNjUyMT...,The Wizard of Oz,1939,U,102 min,"Adventure, Family, Fantasy",8.0,Dorothy Gale is swept away from a farm in Kans...,92.0,Victor Fleming,George Cukor,Mervyn LeRoy,Norman Taurog,Richard Thorpe,371379,"2,076,020"
459,https://m.media-amazon.com/images/M/MV5BYTE4Nj...,La règle du jeu,1939,NaN,110 min,"Comedy, Drama",8.0,A bourgeois life in France at the onset of Wor...,NaN,Jean Renoir,Marcel Dalio,Nora Gregor,Paulette Dubost,Mila Parély,26725,NaN
460,https://m.media-amazon.com/images/M/MV5BYmFlOW...,The Thin Man,1934,TV-PG,91 min,"Comedy, Crime, Mystery",8.0,Former detective Nick Charles and his wealthy ...,86.0,W.S. Van Dyke,William Powell,Myrna Loy,Maureen O'Sullivan,Nat Pendleton,26642,NaN
461,https://m.media-amazon.com/images/M/MV5BMzg2MW...,All Quiet on the Western Front,1930,U,152 min,"Drama, War",8.0,"A German youth eagerly enters World War I, but...",91.0,Lewis Milestone,Lew Ayres,Louis Wolheim,John Wray,Arnold Lucy,57318,"3,270,000"
462,https://m.media-amazon.com/images/M/MV5BMTEyMT...,Bronenosets Potemkin,1925,NaN,75 min,"Drama, History, Thriller",8.0,In the midst of the Russian Revolution of 1905...,97.0,Sergei M. Eisenstein,Aleksandr Antonov,Vladimir Barskiy,Grigoriy Aleksandrov,Ivan Bobrov,53054,"50,970"

 ### 관객평점 8.0 이상인 영화수:  463개 (행 개수)

In [10]:
imdb[imdb["Meta_score"]>=80] # 전문가 점수 80점 이상

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,https://m.media-amazon.com/images/M/MV5BYTE4YW...,Blowup,1966,A,111 min,"Drama, Mystery, Thriller",7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN
994,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,"Comedy, Music, Musical",7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024"
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

 ### 평론가 점수가  80점 이상인 영화수:  409개 (행 개수)

In [11]:
df_and = imdb[(imdb["IMDB_Rating"] >= 8.0) & (imdb["Meta_score"]>=80)]  # 관객 평점 8.0 이상 and 전문가 점수 80점 이상
print(df_and)

                                           Poster_Link  \
0    https://m.media-amazon.com/images/M/MV5BMDFkYT...
1    https://m.media-amazon.com/images/M/MV5BM2MyNj...
2    https://m.media-amazon.com/images/M/MV5BMTMxNT...
3    https://m.media-amazon.com/images/M/MV5BMWMwMG...
4    https://m.media-amazon.com/images/M/MV5BMWU4N2...
..                                                 ...
457  https://m.media-amazon.com/images/M/MV5BNzJiOG...
458  https://m.media-amazon.com/images/M/MV5BNjUyMT...
460  https://m.media-amazon.com/images/M/MV5BYmFlOW...
461  https://m.media-amazon.com/images/M/MV5BMzg2MW...
462  https://m.media-amazon.com/images/M/MV5BMTEyMT...

                       Series_Title Released_Year Certificate  Runtime  \
0          The Shawshank Redemption          1994           A  142 min
1                     The Godfather          1972           A  175 min
2                   The Dark Knight          2008          UA  152 min
3            The Godfather: Part II          1974           A  202 min
4                      12 Angry Men          1957           U   96 min
..                              ...           ...         ...      ...
457             The Grapes of Wrath          1940      Passed  129 min
458                The Wizard of Oz          1939           U  102 min
460                    The Thin Man          1934       TV-PG   91 min
461  All Quiet on the Western Front          1930           U  152 min
462            Bronenosets Potemkin          1925         NaN   75 min

                          Genre  IMDB_Rating  \
0                         Drama          9.3
1                  Crime, Drama          9.2
2          Action, Crime, Drama          9.0
3                  Crime, Drama          9.0
4                  Crime, Drama          9.0
..                          ...          ...
457              Drama, History          8.0
458  Adventure, Family, Fantasy          8.0
460      Comedy, Crime, Mystery          8.0
461                  Drama, War          8.0
462    Drama, History, Thriller          8.0

                                              Overview  Meta_score  \
0    Two imprisoned men bond over a number of years...        80.0
1    An organized crime dynasty's aging patriarch t...       100.0
2    When the menace known as the Joker wreaks havo...        84.0
3    The early life and career of Vito Corleone in ...        90.0
4    A jury holdout attempts to prevent a miscarria...        96.0
..                                                 ...         ...
457  A poor Midwest family is forced off their land...        96.0
458  Dorothy Gale is swept away from a farm in Kans...        92.0
460  Former detective Nick Charles and his wealthy ...        86.0
461  A German youth eagerly enters World War I, but...        91.0
462  In the midst of the Russian Revolution of 1905...        97.0

                 Director              Star1             Star2  \
0          Frank Darabont        Tim Robbins    Morgan Freeman
1    Francis Ford Coppola      Marlon Brando         Al Pacino
2       Christopher Nolan     Christian Bale      Heath Ledger
3    Francis Ford Coppola          Al Pacino    Robert De Niro
4            Sidney Lumet        Henry Fonda       Lee J. Cobb
..                    ...                ...               ...
457             John Ford        Henry Fonda      Jane Darwell
458        Victor Fleming       George Cukor      Mervyn LeRoy
460         W.S. Van Dyke     William Powell         Myrna Loy
461       Lewis Milestone          Lew Ayres     Louis Wolheim
462  Sergei M. Eisenstein  Aleksandr Antonov  Vladimir Barskiy

                    Star3             Star4  No_of_Votes        Gross
0              Bob Gunton    William Sadler      2343110   28,341,469
1              James Caan      Diane Keaton      1620367  134,966,411
2           Aaron Eckhart     Michael Caine      2303232  534,858,444
3           Robert Duvall      Diane Keaton      1129952   57,300,000
4           Martin Balsam      John Fiedler       689845    4,360,000
..                    ...               ...          ...          ...
457        John Carradine  Charley Grapewin        85559       55,000
458         Norman Taurog    Richard Thorpe       371379    2,076,020
460    Maureen O'Sullivan     Nat Pendleton        26642          NaN
461             John Wray       Arnold Lucy        57318    3,270,000
462  Grigoriy Aleksandrov       Ivan Bobrov        53054       50,970

[204 rows x 16 columns]

### 관객 평점이 8.0 이상이면서  평론가 점수가  80점 이상인 영화 수: 204개 (행의 수)


---

- 관객 평점이 8.0 이상인게 463개
- 평론가 점수가 80점 이상인게 409개
- 둘 다 만족하는게 204개

### => 204개/463개 = 0.4406047516198704

## => 관객 평점이 높은편이라고 해서 꼭 평론가 점수가 그만큼 높은건 아님. 그런 것도 있지만, 안그런게 더 많음

---
## 가설 2. 투표한 사람이 많으면 많을 수록, imdb 평점은 낮아지지 않을까?

In [17]:
imdb[["No_of_Votes"]]

     No_of_Votes
0        2343110
1        1620367
2        2303232
3        1129952
4         689845
..           ...
995       166544
996        34075
997        43374
998        26471
999        51853

[1000 rows x 1 columns]

In [13]:
imdb[["No_of_Votes"]].mean() # 투표자 수 평균

No_of_Votes    273692.911
dtype: float64

In [19]:
imdb[["No_of_Votes", "IMDB_Rating"]].groupby(["No_of_Votes"]).filter(filter_by_mean(imdb))

TypeError: 'Series' object is not callable