In [13]:
import pandas as pd

In [14]:
Netflix = pd.read_csv("netflix_titles.csv")

In [15]:
Netflix # 넷플릭스 데이터

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [16]:
# 한국작품 갯수 구하기

Netflix[Netflix["country"] == "South Korea"] #행의 갯수=한국작품 수

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
104,s105,TV Show,Tayo the Little Bus,NaN,"Robyn Slade, Kami Desilets",South Korea,"September 6, 2021",2016,TV-Y,2 Seasons,"Kids' TV, Korean TV Shows",As they learn their routes around the busy cit...
124,s125,TV Show,Pororo - The Little Penguin,NaN,NaN,South Korea,"September 2, 2021",2013,TV-Y7,3 Seasons,"Kids' TV, Korean TV Shows","On a tiny island, Pororo the penguin has fun a..."
289,s290,TV Show,The Crowned Clown,NaN,"Yeo Jin-goo, Lee Se-young, Kim Sang-kyung, Jun...",South Korea,"August 10, 2021",2019,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...","Standing in for an unhinged Joseon king, a loo..."
456,s457,TV Show,Her Private Life,NaN,"Park Min-young, Kim Jae-uk, Ahn Bo-hyun, Jung ...",South Korea,"July 15, 2021",2019,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...","An art curator's life unravels, as she tries t..."
545,s546,TV Show,YooHoo to the Rescue,NaN,"Kira Buckland, Ryan Bartley, Bryce Papenbrook,...",South Korea,"July 6, 2021",2020,TV-Y,3 Seasons,"Kids' TV, Korean TV Shows","In a series of magical missions, quick-witted ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
8463,s8464,Movie,The President's Barber,Chan-sang Lim,"Kang-ho Song, So-ri Moon, Jae-eung Lee, Yeong-...",South Korea,"October 1, 2017",2004,TV-MA,116 min,"Comedies, Dramas, International Movies","The personal barber to the president, as well ..."
8467,s8468,Movie,The Prison,Na Hyeon,"Suk-kyu Han, Rae-won Kim, Kyeong-yeong Lee, Wo...",South Korea,"November 18, 2017",2017,TV-MA,125 min,"Action & Adventure, Dramas, International Movies",A cop-turned-convict discovers a crime syndica...
8575,s8576,TV Show,This Is My Love,NaN,"Jin-mo Joo, Sa-rang Kim, Junior, Ja-in Lee, Su...",South Korea,"May 22, 2017",2015,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",A renowned actor who is still pining over the ...
8613,s8614,Movie,Train to Busan,Sang-ho Yeon,"Gong Yoo, Yu-mi Jung, Dong-seok Ma, Soo-an Kim...",South Korea,"March 18, 2017",2016,TV-MA,118 min,"Action & Adventure, Horror Movies, Internation...","As a zombie outbreak sweeps the country, a dad..."
8684,s8685,TV Show,Vroomiz,NaN,"Joon-seok Song, Jeong-hwa Yang, Sang-hyun Um, ...",South Korea,"August 1, 2017",2016,TV-Y,3 Seasons,"Kids' TV, Korean TV Shows","For these half-car, half-animal friends, each ..."

In [17]:
from collections import Counter

In [18]:
# 제일 많은 작품 수를 가진 국가 구하기

Counter(Netflix["country"]) #미국이 1등(2818개). 한국은 여기서도 199개 인걸 확인할 수 있음.

Counter({'United States': 2818,
         'South Africa': 30,
         nan: 831,
         'India': 972,
         'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia': 1,
         'United Kingdom': 419,
         'Germany, Czech Republic': 2,
         'Mexico': 110,
         'Turkey': 105,
         'Australia': 87,
         'United States, India, France': 1,
         'Finland': 1,
         'China, Canada, United States': 3,
         'South Africa, United States, Japan': 1,
         'Nigeria': 95,
         'Japan': 245,
         'Spain, United States': 1,
         'France': 124,
         'Belgium': 9,
         'United Kingdom, United States': 75,
         'United States, United Kingdom': 47,
         'France, United States': 10,
         'South Korea': 199,
         'Spain': 145,
         'United States, Singapore': 1,
         'United Kingdom, Australia, France': 1,
         'United Kingdom, Australia, France, United States': 1,
         'United States, Canada': 73,
         'Germany, United States': 13,
         'South Africa, United States': 4,
         'United States, Mexico': 14,
         'United States, Italy, France, Japan': 1,
         'United States, Italy, Romania, United Kingdom': 1,
         'Australia, United States': 13,
         'Argentina, Venezuela': 1,
         'United States, United Kingdom, Canada': 2,
         'China, Hong Kong': 14,
         'Russia': 15,
         'Canada': 181,
         'Hong Kong': 53,
         'United States, China, Hong Kong': 2,
         'Italy, United States': 4,
         'United States, Germany': 17,
         'United Kingdom, Canada, United States': 8,
         ', South Korea': 1,
         'Ireland': 10,
         'India, Nepal': 1,
         'New Zealand, Australia, France, United States': 1,
         'Italy': 45,
         'Italy, Brazil, Greece': 1,
         'Argentina': 56,
         'Jordan': 2,
         'Colombia': 35,
         'United States, Japan': 16,
         'Belgium, United Kingdom': 1,
         'Switzerland, United Kingdom, Australia': 1,
         'Israel, United States': 5,
         'Canada, United States': 45,
         'Brazil': 77,
         'Argentina, Spain': 8,
         'Taiwan': 81,
         'United States, Nigeria': 2,
         'Bulgaria, United States': 3,
         'Spain, United Kingdom, United States': 1,
         'United States, China': 8,
         'United States, France': 16,
         'Spain, France, United Kingdom, United States': 1,
         ', France, Algeria': 1,
         'Poland': 24,
         'Germany': 67,
         'France, Israel, Germany, United States, United Kingdom': 1,
         'New Zealand': 12,
         'Saudi Arabia': 8,
         'Thailand': 61,
         'Indonesia': 79,
         'Egypt, Denmark, Germany': 1,
         'United States, Switzerland': 1,
         'Hong Kong, Canada, United States': 1,
         'Kuwait, United States': 1,
         'France, Canada, United States, Spain': 1,
         'France, Netherlands, Singapore': 1,
         'France, Belgium': 27,
         'Ireland, United States, United Kingdom': 1,
         'Egypt': 106,
         'Malaysia': 22,
         'Israel': 13,
         'Australia, New Zealand': 1,
         'United Kingdom, Germany': 4,
         'Belgium, Netherlands': 2,
         'South Korea, Czech Republic': 1,
         'Australia, Germany': 1,
         'Vietnam': 7,
         'United Kingdom, Belgium': 2,
         'United Kingdom, Australia, United States': 1,
         'France, Japan, United States': 2,
         'United Kingdom, Germany, Spain, United States': 1,
         'United Kingdom, United States, France, Italy': 1,
         'United States, Germany, Canada': 3,
         'United States, France, Italy, United Kingdom': 1,
         'United States, United Kingdom, Germany, Hungary': 1,
         'United States, New Zealand': 5,
         'Sweden': 13,
         'China': 66,
         'Lebanon': 15,
         'Romania': 6,
         'Finland, Germany': 1,
         'Lebanon, Syria': 1,
         'Philippines': 75,
         'Iceland': 5,
         'Denmark': 13,
         'United States, India': 9,
         'Philippines, Singapore, Indonesia': 1,
         'China, United States, Canada': 1,
         'Lebanon, United Arab Emirates': 1,
         'Canada, United States, Denmark': 1,
         'United Arab Emirates': 14,
         'Mexico, France, Colombia': 1,
         'Netherlands': 19,
         'Germany, United States, France': 1,
         'United States, Bulgaria': 4,
         'United Kingdom, France, Germany, United States': 2,
         'Norway, Denmark': 1,
         'Syria, France, Lebanon, Qatar': 1,
         'United States, Czech Republic': 5,
         'Mauritius': 1,
         'Canada, South Africa': 2,
         'Austria': 5,
         'Mexico, Brazil': 1,
         'Germany, France': 1,
         'Mexico, United States': 13,
         'United Kingdom, France, Spain, United States': 1,
         'United States, Australia': 11,
         'United States, United Kingdom, France': 4,
         'United States, Russia': 4,
         'United States, United Kingdom, New Zealand': 1,
         'Australia, United Kingdom': 2,
         'Canada, Nigeria, United States': 1,
         'France, United States, United Kingdom, Canada': 1,
         'France, United Kingdom': 1,
         'India, United Kingdom': 2,
         'Canada, United States, Mexico': 1,
         'United Kingdom, Germany, United States': 2,
         'Czech Republic, United Kingdom, United States': 1,
         'China, United Kingdom': 3,
         'Italy, United Kingdom': 1,
         'China, Taiwan': 2,
         'United States, Brazil, Japan, Spain, India': 1,
         'United States, China, United Kingdom': 1,
         'Cameroon': 1,
         'Lebanon, Palestine, Denmark, Qatar': 1,
         'Japan, United States': 12,
         'Uruguay, Germany': 1,
         'Egypt, Saudi Arabia': 1,
         'United Kingdom, France, Poland, Germany, United States': 1,
         'Ireland, Switzerland, United Kingdom, France, United States': 1,
         'United Kingdom, South Africa, France': 1,
         'Ireland, United Kingdom, France, Germany': 1,
         'Russia, United States': 1,
         'United Kingdom, United States, France': 2,
         'United Kingdom,': 2,
         'United States, India, United Kingdom': 1,
         'Kenya': 3,
         'Spain, Argentina': 3,
         'India, United Kingdom, France, Qatar': 1,
         'Belgium, France': 3,
         'Argentina, Chile': 2,
         'United States, Thailand': 2,
         'Chile, Brazil': 1,
         'United States, Colombia': 3,
         'Canada, United States, United Kingdom': 4,
         'Uruguay': 3,
         'Luxembourg': 1,
         'United States, Cambodia, Romania': 1,
         'Bangladesh': 3,
         'Spain, Belgium, United States': 1,
         'United Kingdom, United States, Australia': 3,
         'Canada, United States, France': 2,
         'Portugal, United States': 1,
         'Portugal, Spain': 2,
         'India, United States': 10,
         'United Kingdom, Ireland': 3,
         'United Kingdom, Spain, United States': 1,
         'Hungary, United States': 1,
         'United States, South Korea': 2,
         'Canada, United States, Cayman Islands': 1,
         'India, France': 5,
         'France, Canada': 3,
         'Canada, Hungary, United States': 1,
         'Norway': 11,
         'Canada, United Kingdom, United States': 2,
         'United Kingdom, Germany, France, United States': 1,
         'Denmark, United States': 3,
         'Senegal': 1,
         'France, Algeria': 1,
         'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland': 1,
         'Philippines, Canada, United Kingdom, United States': 1,
         'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong': 1,
         'Singapore': 23,
         'Kuwait': 6,
         'United States, France, Serbia': 1,
         'United States, Italy': 5,
         'Spain, Italy': 2,
         'United States, Ireland, United Kingdom, India': 1,
         'United Kingdom, Singapore': 1,
         'Hong Kong, United States': 4,
         'United States, Malta, France, United Kingdom': 1,
         'United States, China, Canada': 1,
         'Canada, United States, Ireland': 1,
         'Lebanon, Canada, France': 2,
         'Japan, Canada, United States': 1,
         'Spain, France, Canada': 1,
         'Denmark, Singapore, Canada, United States': 1,
         'United States, France, Denmark': 1,
         'United States, China, Colombia': 1,
         'Spain, Thailand, United States': 1,
         'Mexico, Spain': 4,
         'Ireland, Luxembourg, Belgium': 1,
         'China, United States': 2,
         'Canada, Belgium': 1,
         'Canada, United Kingdom': 2,
         'Lebanon, United Arab Emirates, France, Switzerland, Germany': 1,
         'France, Belgium, Italy': 1,
         'Lebanon, United States, United Arab Emirates': 1,
         'Lebanon, France': 1,
         'France, Lebanon': 1,
         'France, Lebanon, United Kingdom': 1,
         'France, Norway, Lebanon, Belgium': 1,
         'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands': 1,
         'United States, United Kingdom, India': 1,
         'Indonesia, Netherlands': 1,
         'Turkey, South Korea': 1,
         'Serbia, United States': 2,
         'Namibia': 1,
         'United Kingdom, Kenya': 1,
         'United Kingdom, France, Germany, Spain': 1,
         'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany': 1,
         'Thailand, United States': 2,
         'United States, France, Canada, Belgium': 1,
         'United Kingdom, China': 1,
         'Germany, China, United Kingdom': 1,
         'Australia, New Zealand, United States': 1,
         'Hong Kong, Iceland, United States': 1,
         'France, Australia, Germany': 1,
         'United States, Belgium, Canada, France': 1,
         'South Africa, Angola': 1,
         'United States, Philippines': 1,
         'United States, United Kingdom, Canada, China': 1,
         'United States, Canada, United Kingdom': 1,
         'Turkey, United States': 2,
         'Peru, Germany, Norway': 1,
         'Mozambique': 1,
         'Brazil, France': 2,
         'China, Spain, South Korea, United States': 1,
         'Spain, Germany': 3,
         'Hong Kong, China': 16,
         'France, Belgium, Luxembourg, Cambodia,': 1,
         'United Kingdom, Australia': 1,
         'Belarus': 1,
         'Indonesia, United Kingdom': 1,
         'Switzerland, France, Belgium, United States': 1,
         'Ghana': 3,
         'Spain, France, Canada, United States': 1,
         'Chile, Italy': 1,
         'United Kingdom, Nigeria': 2,
         'Chile': 14,
         'France, Egypt': 3,
         'Egypt, France': 2,
         'France, Brazil, Spain, Belgium': 1,
         'Egypt, Algeria': 1,
         'Canada, South Korea, United States': 1,
         'Nigeria, United Kingdom': 1,
         'United States, France, Canada': 1,
         'Poland, United States': 4,
         'United Arab Emirates, Jordan, Lebanon, Saudi Arabia': 1,
         'United States, Mexico, Spain, Malta': 1,
         'Saudi Arabia, United Arab Emirates': 1,
         'Zimbabwe': 1,
         'United Kingdom, Germany, United Arab Emirates, New Zealand': 1,
         'Romania, United States': 1,
         'Canada, Nigeria': 1,
         'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States': 1,
         'United Kingdom, Spain': 1,
         'Finland, France': 1,
         'United Kingdom, Germany, United States, France': 1,
         'India, United Kingdom, China, Canada, Japan, South Korea, United States': 1,
         'Italy, United Kingdom, France': 1,
         'United States, Mexico, Colombia': 1,
         'Turkey, India': 1,
         'Italy, Turkey': 1,
         'United Kingdom, United States, Japan': 1,
         'France, Belgium, United States': 1,
         'Puerto Rico, United States, Colombia': 1,
         'Uruguay, Argentina': 1,
         'United States, United Kingdom, Japan': 1,
         'United States, Argentina': 2,
         'United Kingdom, Italy': 2,
         'Ireland, United Kingdom': 2,
         'United Kingdom, France, Belgium, Canada, United States': 1,
         'Netherlands, Germany, Denmark, United Kingdom': 1,
         'Hungary': 4,
         'Austria, Germany': 1,
         'Taiwan, China': 1,
         'United Kingdom, United States, Ireland': 1,
         'South Korea, United States': 6,
         'Brazil, United Kingdom': 1,
         'Pakistan, United States': 2,
         'Romania, France, Switzerland, Germany': 1,
         'Romania, United Kingdom': 1,
         'France, Malta, United States': 1,
         'Cyprus': 1,
         'United Kingdom, France, Belgium, Ireland, United States': 1,
         'United States, Norway, Canada': 1,
         'Kenya, United States': 1,
         'France, South Korea, Japan, United States': 1,
         'Taiwan, Malaysia': 1,
         'Uruguay, Argentina, Germany, Spain': 1,
         'United States, United Kingdom, France, Germany, Japan': 1,
         'United States, France, Japan': 7,
         'United Kingdom, France, United States': 4,
         'Spain, France, United States': 1,
         'Indonesia, South Korea, Singapore': 1,
         'United States, Spain': 4,
         'Netherlands, Germany, Italy, Canada': 1,
         'Spain, Germany, Denmark, United States': 1,
         'Norway, Sweden': 1,
         'South Korea, Canada, United States, China': 1,
         'Argentina, Uruguay, Serbia': 1,
         'France, Japan': 1,
         'Mauritius, South Africa': 1,
         'United States, Poland': 1,
         'United Kingdom, United States, Germany, Denmark, Belgium, Japan': 1,
         'India, Germany': 2,
         'India, United Kingdom, Canada, United States': 1,
         'Philippines, United States': 1,
         'Romania, Bulgaria, Hungary': 1,
         'Uruguay, Guatemala': 1,
         'France, Senegal, Belgium': 1,
         'United Kingdom, Canada': 4,
         'Mexico, United States, Spain, Colombia': 1,
         'Canada, Norway': 1,
         'Singapore, United States': 2,
         'Finland, Germany, Belgium': 1,
         'United Kingdom, France': 6,
         'United States, Chile': 3,
         'United Kingdom, Japan, United States': 3,
         'Spain, United Kingdom': 2,
         'Argentina, United States, Mexico': 1,
         'United States, South Korea, Japan': 1,
         'Canada, Australia': 2,
         'United Kingdom, Hungary, Australia': 1,
         'Italy, Belgium': 1,
         'United States, United Kingdom, Germany': 2,
         'Switzerland': 2,
         'Singapore, Malaysia': 1,
         'France, Belgium, Luxembourg, Romania, Canada, United States': 1,
         'South Africa, Nigeria': 1,
         'Spain, France': 5,
         'United Kingdom, Hong Kong': 1,
         'Pakistan': 18,
         'Brazil, United States': 1,
         'Denmark, Brazil, France, Portugal, Sweden': 1,
         'India, Turkey': 1,
         'Malaysia, Singapore, Hong Kong': 1,
         'Philippines, Singapore': 1,
         'Australia, Canada': 2,
         'Taiwan, China, France, United States': 1,
         'Germany, Italy': 1,
         'Colombia, Peru, United Kingdom': 1,
         'Thailand, China, United States': 1,
         'Argentina, United States': 1,
         'Sweden, United States': 3,
         'Uruguay, Spain, Mexico': 1,
         'France, Luxembourg, Canada': 1,
         'Denmark, Spain': 1,
         'Chile, Argentina': 1,
         'United Kingdom, Belgium, Sweden': 1,
         'Canada, Brazil': 1,
         'Italy, France': 5,
         'Canada, Germany': 1,
         'Pakistan, United Arab Emirates': 1,
         'Ghana, United States': 1,
         'Mexico, Finland': 1,
         'United Arab Emirates, United Kingdom, India': 1,
         'Netherlands, Belgium': 2,
         'United States, Taiwan': 1,
         'Austria, Iraq, United States': 1,
         'United Kingdom, Malawi': 1,
         'Paraguay, Argentina': 1,
         'United Kingdom, Russia, United States': 1,
         'India, Pakistan': 1,
         'Indonesia, Singapore': 2,
         'Spain, Belgium': 1,
         'Iceland, Sweden, Belgium': 1,
         'Croatia': 1,
         'Uruguay, Argentina, Spain': 1,
         'United Kingdom, Ireland, United States': 1,
         'Canada, Germany, France, United States': 1,
         'United Kingdom, Japan': 1,
         'Norway, Denmark, Netherlands, Sweden': 1,
         'Hong Kong, China, United States': 2,
         'Ireland, Canada': 1,
         'Italy, Switzerland, France, Germany': 1,
         'Mexico, Netherlands': 1,
         'United States, Sweden': 3,
         'Germany, France, Russia': 1,
         'France, Iran, United States': 1,
         'United Kingdom, India': 2,
         'Russia, Poland, Serbia': 1,
         'Spain, Portugal': 1,
         'Peru': 4,
         'Mexico, Argentina': 1,
         'United Kingdom, Canada, United States, Cayman Islands': 1,
         'Indonesia, United States': 1,
         'United States, Israel, United Kingdom, Canada': 1,
         'Norway, Iceland, United States': 2,
         'Czech Republic, United States': 2,
         'United Kingdom, India, United States': 2,
         'United Kingdom, West Germany': 1,
         'India, Australia': 1,
         'United States,': 1,
         'Belgium, United Kingdom, United States': 1,
         'India, Germany, Austria': 1,
         'United States, Brazil, South Korea, Mexico, Japan, Germany': 1,
         'Spain, Mexico': 2,
         'China, Japan': 1,
         'Argentina, France': 1,
         'China, United States, United Kingdom': 1,
         'France, Luxembourg, United States': 1,
         'China, United States, Australia': 1,
         'Colombia, Mexico': 1,
         'United States, Canada, Ireland': 1,
         'Chile, Peru': 1,
         'Argentina, Italy': 1,
         'Canada, Japan, United States': 1,
         'United Kingdom, Canada, United States, Germany': 1,
         'Italy, Switzerland, Albania, Poland': 1,
         'United States, Japan, Canada': 2,
         'Cambodia': 1,
         'Italy, United States, Argentina': 1,
         'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait': 1,
         'United States, Canada, Indonesia, United Kingdom, China, Singapore': 1,
         'Spain, Colombia': 1,
         'United Kingdom, South Africa, Australia, United States': 1,
         'Bulgaria': 1,
         'Argentina, Brazil, France, Poland, Germany, Denmark': 1,
         'United Kingdom, Spain, United States, Germany': 1,
         'Philippines, Qatar': 1,
         'Netherlands, Belgium, Germany, Jordan': 1,
         'United Arab Emirates, United States': 2,
         'Norway, Germany, Sweden': 1,
         'South Korea, China': 1,
         'Georgia': 1,
         'Soviet Union, India': 1,
         'Australia, United Arab Emirates': 2,
         'Canada, Germany, South Africa': 1,
         'South Korea, China, United States': 1,
         'India, Soviet Union': 2,
         'India, Mexico': 1,
         'Georgia, Germany, France': 1,
         'United Arab Emirates, Romania': 1,
         'India, Malaysia': 1,
         'Germany, Jordan, Netherlands': 1,
         'Turkey, France, Germany, Poland': 1,
         'Greece, United States': 1,
         'France, United Kingdom, United States': 2,
         'Norway, Germany': 1,
         'France, Morocco': 1,
         'Cambodia, United States': 1,
         'United States, Denmark': 1,
         'United States, Colombia, Mexico': 1,
         'United Kingdom, Italy, Israel, Peru, United States': 1,
         'Argentina, Uruguay, Spain, France': 1,
         'United Kingdom, France, United States, Belgium': 1,
         'France, Canada, China, Cambodia': 1,
         'United Kingdom, France, Belgium, United States': 1,
         'Chile, France': 1,
         'Netherlands, United States': 1,
         'France, United Kingdom, India': 1,
         'Czech Republic, Slovakia': 1,
         'Singapore, France': 1,
         'Spain, Switzerland': 1,

In [19]:
# 제일 많은 작품 수를 가진 국가 구하기 (단일 국가인 경우를 기준으로)
Netflix_country = Netflix.groupby('country')
Netflix_country.count().sort_values(by='show_id', ascending=False) # show_id로 정렬해 줌 + 내림차순

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,description
country,,,,,,,,,,,
United States,2818,2818,2818,2048,2488,2812,2818,2818,2815,2818,2818
India,972,972,972,890,940,972,972,972,972,972,972
United Kingdom,419,419,419,212,351,418,419,419,419,419,419
Japan,245,245,245,85,240,244,245,244,245,245,245
South Korea,199,199,199,49,196,199,199,199,199,199,199
...,...,...,...,...,...,...,...,...,...,...,...
"Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India",1,1,1,1,1,1,1,1,1,1,1
"Ireland, Canada, United Kingdom, United States",1,1,1,1,1,1,1,1,1,1,1
"Ireland, Canada, United States, United Kingdom",1,1,1,0,1,1,1,1,1,1,1
"Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong",1,1,1,1,1,1,1,1,1,1,1
Zimbabwe,1,1,1,1,1,1,1,1,1,1,1

In [20]:
Netflix_country.count().sort_values(by='show_id', ascending=False).head(1) # 가장 많은 국가만 출력

,show_id,type,title,director,cast,date_added,release_year,rating,duration,listed_in,description
country,,,,,,,,,,,
United States,2818,2818,2818,2048,2488,2812,2818,2818,2815,2818,2818